* {
  margin: 0;
}

header {
  background-color: rgb(8, 69, 8);
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tab {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.list {
  background-color: hsl(120, 79%, 25%);
  position: absolute;
  bottom: 1px;
  list-style: none;
  z-index: -1;
  padding: 0;
  transition: transform 200ms ease-in-out;
}

li {
  margin: 3px;
}

.tab.clicked .list {
  display: block;
  transform: translate(0, 100%);
}
