form {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    appearance: none;
  
}

fieldset {
      display: flex;
      flex-direction: column;
      width: 200px;
}

.option {
    padding: .3em;
}

input {
  appearance: none;
  height: .8em;
  width: .8em;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 50%;
}

input:hover {
    border: 1px solid hsl(0, 0%, 20%);
}

input:checked {
    background-color: green;
    border: 2px solid white;
    outline: 2px double green;
    border-radius: 50%; 
}

.test {
    height: 30px;
    width: 30px;
    border: 2px solid black
}